@use "variables";
//MODAL STYLING
.modal {
  background-color: variables.$modalBG;
  width: 60%;
  height: auto;
  text-align: center;
  color: white;
  padding: 3rem;
  border-radius: 40px;
  top: 12%;
  left: 17%;
  //position: fixed;

  //font styles
  h1 {
    font-family: variables.$uniformBlack;
    font-size: variables.$h1-size;
    // border: solid red 1px;
    width: fit-content;
    margin: auto;
    line-height: 1;
    letter-spacing: 0.5rem;
    color: variables.$orangeLight;
    text-transform: uppercase;
  }

  h2 {
    font-family: variables.$uniformBlack;
    font-size: variables.$h2-size;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }

  h3 {
    font-family: variables.$uniformMedium;
    font-size: variables.$h3-size;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    font-weight: lighter;
  }

  h4 {
    font-family: variables.$uniformMedium;
    font-size: variables.$h4-size;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    font-weight: lighter;
  }

  h5 {
    font-family: variables.$uniformMedium;
    font-size: variables.$h5-size;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    font-weight: lighter;
  }

  p {
    width: 60%;
    // border: solid white 1px;
    margin: 5rem auto 0 auto;
    line-height: 1.5;
    font-family: variables.$uniformMedium;
    font-size: variables.$p-size;
  }

  .orangeSpan {
    color: variables.$orangeLight;
  }
  .greenSpan {
    color: variables.$greenLight;
  }
  form {
    margin: 3rem auto;
  }
}
.firstStepSec {
  border: solid variables.$orangeLight 5px;
  height: 100%;
}

//LABEL STYLE
.textLabel {
  font-size: variables.$label-text;
}

.checkboxLabel {
  font-family: variables.$uniformMedium;
  font-size: variables.$label-checkbox;
  text-transform: none;
  font-weight: lighter;
  letter-spacing: 0.1rem;
}

//INPUT STYLE
.inputDiv {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  font-family: variables.$uniformBlack;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: left;
  row-gap: 1rem;
}
input[type="text"] {
  background: none;
  border: none;
  border-bottom: solid variables.$orangeLight 2px;
  font-family: variables.$uniformBlack;
  text-transform: uppercase;
  letter-spacing: 3px;
}
::placeholder {
  color: variables.$placeholderColor;
  font-size: variables.$placeholder-size;
}

//BUTTON

.join {
  font-family: variables.$uniformBlack;
  background: none;
  color: white;
  border: solid variables.$orangeLight 3px;
  border-radius: 80px;
  box-shadow: none;
  font-size: variables.$button1-text;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 1rem 2rem;
  margin-top: 2rem;
}

.continue {
  font-family: variables.$uniformMedium;
  background: none;
  color: white;
  border: solid variables.$orangeLight 2px;
  border-radius: 80px;
  box-shadow: none;
  font-size: variables.$button2-text;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 1rem 2rem;
  margin-top: 2rem;
}
