@use "variables";
//MODAL STYLING
.modal {
  background-color: variables.$modalBG;
  width: 60vw;
  height: 75vh;
  margin: 3% auto;
  text-align: center;
  color: white;
  padding: 3rem;
  border-radius: 40px;
  position: relative;

  //FONT STYLES
  h1 {
    font-family: variables.$uniformBlack;
    font-size: variables.$h1-size;
    // border: solid red 1px;
    width: fit-content;
    margin: auto;
    line-height: 1;
    letter-spacing: 0.5rem;
    text-transform: uppercase;

    .outlineText {
      color: transparent;
      -webkit-text-stroke: 1px variables.$orangeLight;
      -webkit-text-fill-color: transparent;
    }
  }

  h2 {
    font-family: variables.$uniformBlack;
    font-size: variables.$h2-size;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }

  h3 {
    font-family: variables.$uniformMedium;
    font-size: variables.$h3-size;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    font-weight: lighter;
  }

  h4 {
    font-family: variables.$uniformMedium;
    font-size: variables.$h4-size;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    font-weight: 100;
  }

  h5 {
    font-family: variables.$uniformMedium;
    font-size: variables.$h5-size;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    font-weight: lighter;
  }

  p {
    line-height: 1.5;
    font-family: variables.$uniformMedium;
    font-size: variables.$p-size;
  }

  .orangeSpan {
    color: variables.$orangeLight;
  }
  .greenSpan {
    color: variables.$greenLight;
  }
}

.modalSection {
  border: solid variables.$orangeLight 5px;
  height: 98%;
  overflow: hidden;
  /* display: flex;
  flex-direction: column; */
}

//FORM STEPS
.formSteps {
  position: relative;
  width: 60vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  transition: all 1s;

  .introSec {
    left: 2.8rem;

    width: 90%;
    margin: 0;
    position: absolute;
    transition: 0.8s;

    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-content: center;
    padding-top: 2rem;

    p {
      width: 70%;
      margin: auto;
    }

    form {
      width: 60%;
      margin: auto;
    }

    .closeButtonDiv {
      align-self: flex-start;
      margin-top: -4rem;
      margin-left: -2rem;
      width: 18rem;
    }
  }

  .stepsForms {
    width: 90%;
    margin: 0;
    margin-top: 1rem;
    position: absolute;
    transition: 0.8s;
  }

  .firstStep {
    left: 65rem;
    margin-top: 5.5rem;
  }

  .secondStep {
    left: 65rem;
    margin-top: 7rem;

    h5 {
      padding-bottom: 1.2rem;
    }
    button {
      margin-top: 3rem;
    }
  }

  .thirdStep {
    left: 65rem;
    margin-top: 5.5rem;

    button {
      margin-top: 1rem;
    }
  }

  .thirdStep div.checkboxes {
    margin-top: 0.5rem;
  }

  .fourthStep {
    left: 65rem;
    margin-top: 6rem;

    h2 {
      margin-bottom: 2rem;
    }
    button {
      margin-top: 1.5rem;
    }

    .fourthStepInputs {
      padding-left: 6rem;
      padding-right: 6rem;
      div {
        margin-bottom: 1.3rem;
      }
      input[type="text"] {
        width: 100%;
      }
    }

    #passwordDiv {
      display: flex;
      flex-direction: row;
      gap: 4rem;

      .password1 {
        span {
          position: absolute;
          right: 27rem;
          top: 17.4rem;
          cursor: pointer;

          .fa {
            font-size: variables.$placeholder-size;
            color: variables.$placeholderColor;
          }
        }
      }

      .password2 {
        span {
          position: absolute;
          right: 6.5rem;
          top: 17.4rem;
          cursor: pointer;

          .fa {
            font-size: variables.$placeholder-size;
            color: variables.$placeholderColor;
          }
        }
      }
    }
    input[type="text"] {
      background: none;
      border: none;
      border-bottom: solid variables.$orangeLight 2px;
      font-family: variables.$uniformBlack;
      text-transform: uppercase;
      letter-spacing: 3px;
      width: 85%;
      height: 2rem;
      color: variables.$bluePastel;
    }
  }

  .confirmationDiv {
    left: 65rem;

    width: 90%;
    margin: 0;
    margin-top: 1rem;
    position: absolute;
    transition: 0.8s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.4rem;

    h1 {
      letter-spacing: 0.8rem;
      line-height: 4rem;
    }
    button {
      margin-top: 3rem;
    }
    .completeLogo {
      height: 13rem;
      width: 13rem;
      margin-top: 1rem;

      img {
        max-width: 100%;
      }
    }
  }

  .stepRow {
    left: 90rem;

    width: 50%;
    margin: 0;
    margin-top: 1.2rem;
    position: absolute;
    transition: 0.8s;

    display: flex;
    justify-content: center;
    gap: 1rem;
    line-height: 3.2rem;
    align-items: center;
    font-family: variables.$uniformBlack;
    color: variables.$bluePastel;
    font-size: 2.2rem;

    .number {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      border: 3px solid variables.$bluePastel;
      text-align: center;
      transition: 0.8s;
    }

    .stepOne {
      background-color: variables.$bluePastel;
      color: variables.$modalBG;
    }

    .numberLine {
      width: 43px;
      height: 3px;
      border-radius: 20px;
      background-color: variables.$bluePastel;
      transition: 0.8s;
    }
  }

  //LABEL STYLE
  .textLabel {
    font-size: variables.$label-text;
  }

  .checkboxLabel {
    font-family: variables.$uniformMedium;
    font-size: variables.$label-checkbox;
    text-transform: none;
    font-weight: lighter;
    letter-spacing: 0.1rem;
    display: flex;
    height: auto;
    align-items: center;
    text-align: left;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 15px;
    transition: all 0.3s;
  }

  //grid for checkboxes
  .checkboxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 0.3rem;
    column-gap: 1rem;
    margin: auto auto auto 2rem;
  }
  //INPUT STYLE
  .inputDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    font-family: variables.$uniformBlack;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: left;
    row-gap: 0.2rem;
    p {
      margin: 0;
      width: 100%;
      font-size: 12px;
    }
  }
  input[type="checkbox"] {
    align-self: center;
    margin-right: 0.2rem;
    appearance: none;
    border: solid #54536d 1px;
    border-radius: 5px;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    transition: all 0.3s;
  }

  #lastNameDiv input[type="text"],
  input[type="email"] {
    background: none;
    border: none;
    border-bottom: solid variables.$bluePastel 2px;
    font-family: variables.$uniformMedium;
    font-size: variables.$placeholder-size;
    text-transform: uppercase;
    letter-spacing: 3px;
    height: 2rem;
    color: white;
  }

  input[type="text"] {
    background: none;
    border: none;
    border-bottom: solid variables.$orangeLight 2px;
    font-family: variables.$uniformMedium;
    font-size: variables.$placeholder-size;
    text-transform: uppercase;
    letter-spacing: 3px;
    height: 2rem;
    color: white;
  }

  input[type="password"] {
    background: none;
    border: none;
    border-bottom: solid variables.$bluePastel 2px;
    font-family: variables.$uniformBlack;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 100%;
    height: 2rem;
    color: variables.$bluePastel;
  }

  ::placeholder {
    color: variables.$placeholderColor;
    font-size: variables.$placeholder-size;
  }
}

//BUTTON

button {
  cursor: pointer;
  transition: color 0.8s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

button.closeModal,
button.goBack {
  transition: 0.2s ease-in-out;
}

.join {
  font-family: variables.$uniformBlack;
  background: none;
  color: white;
  border: solid variables.$orangeLight 3px;
  border-radius: 80px;
  box-shadow: none;
  font-size: variables.$button1-text;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 1rem 2rem;
  margin-top: 2rem;
}

.closeModal {
  font-family: variables.$uniformMedium;
  background: none;
  color: white;
  border: none;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 1rem 3rem;
  padding-left: 0.5rem;
  line-height: 1rem;
}

.btnBox {
  display: flex;
  justify-content: space-between;
}

.goBack {
  font-family: variables.$uniformMedium;
  background: none;
  color: white;
  border: none;
  font-size: variables.$button2-text;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 1rem 2rem;
}

.continue {
  font-family: variables.$uniformMedium;
  background: none;
  color: white;
  border: solid variables.$orangeLight 2px;
  border-radius: 80px;
  box-shadow: none;
  font-size: variables.$button2-text;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 1rem 2rem;
}

.backToEzone {
  font-family: variables.$uniformBlack;
  background: none;
  color: white;
  border: solid variables.$orangeLight 3px;
  border-radius: 80px;
  box-shadow: none;
  font-size: 1.4rem;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

button.join:hover,
button.continue:hover,
button.backToEzone:hover {
  background-color: variables.$orangeLight;
  color: variables.$modalBG;
  transition: color 0.8s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

button.closeModal:hover,
button.goBack:hover {
  color: variables.$orangeLight;
  transition: 0.2s ease-in-out;
}
