@use "variables";
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(assets/background.png);
  background-size: contain;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

#darkBox {
  width: 100vw;
  height: 100vh;
  top: 0;
  position: absolute;
  background-color: black;
  opacity: 0.4;
  z-index: -1;
}

.hidden {
  display: none;
}
