@use "variables";

//TYPE TEXT

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  caret-color: white;
}
input[type="text"]:hover,
input[type="email"]:focus {
  cursor: pointer;
}

//CHECKBOX

input[type="checkbox"]:checked {
  transition: all 0.3s;
}
.checkboxLabel:hover {
  background-color: #3a3d57;
  transition: all 0.3s;
}
