@use "variables";

//TYPE TEXT

input[type="text"]:focus {
  outline: none;
  caret-color: white;
}
input[type="text"]:hover {
  cursor: pointer;
}

input[type="text"]:hover::placeholder {
  color: #696780;
  transition: all 0.4s;
}

//CHECKBOX

input[type="checkbox"]:checked {
  background-color: white;
  transition: all 0.3s;
}
.checkboxLabel:hover {
  background-color: #3a3d57;
  transition: all 0.3s;
}
